@charset "utf-8";
/* CSS Document */

/***** Special Colors *****/
.grey-bg{
	background-color:#eaeae6;
}
.red-bg{
	background-color:#c13c3c;
}
.black-bg{
	background-color:#2a2a29
}
.white-bg{
	background-color:#fff
}
.red-color{
	color:#c13c3c;
}
.black-color{
	color:#333431;
}
/***** Special Classes *****/
.regular-font{
    font-family: 'montserratregular';
}
.light-font{
    font-family: 'montserratlight' !important;
}
.semibold-font{
    font-family: 'montserratsemi_bold';
}
.bold-font{
    font-family: 'montserratbold';
}
.black-font{
    font-family: 'MontserratBlack';
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
.padding-outer{
	padding-top:100px;
	padding-bottom:100px;
}
.padding-inner{
	padding-top:80px;
	padding-bottom:80px;
}
.spacer,.spacer2{
	float:left;
	width:100%;
	height:30px;
}